#campaign-status {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    overflow: auto;
    padding: 2rem 0;
}

table {
    border-collapse: collapse;
    overflow: auto;
}

th,
td,
tr {
    padding: 1rem;
    border: 1px solid lightgray;
    text-align: center;
    text-transform: capitalize;
    text-wrap: nowrap;
}

td i {
    cursor: pointer;
}

th {
    border: 1px solid gray;
}

@media (max-width:900px) {

    #campaign-status ul {
        width: 100%;
    }
}