#ham {
    position: fixed;
    top: 2vw;
    right: 2vw;
    font-size: 2rem;
    z-index: 9;
    display: none;
}

#navbar {
    background: #D4E7C5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-transform: capitalize;
    padding: 2vw 4vw;
    border-radius: 10px;
    position: fixed;
    width: 100%;
    z-index: 8;
}

#navbar a.page-title {
    font-size: 3vw;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-weight: bold;
}

#navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#navbar div button {
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #99BC85;
    color: white;
    transition: .3s linear;
    border: 1px solid #999;
}

#navbar div button a {

    width: inherit;
    height: inherit;
    color: inherit;
}

#navbar div button:hover {
    background: hsl(98, 29%, 58%);
}


@media (max-width:900px) {
    #ham {
        display: flex;
    }

    #navbar {
        flex-direction: column;
        height: fit-content;
        padding: 5vh;
        gap: 4vh;
        transform: translateY(-100%);
        transition: .3s ease-in-out;
    }

    #navbar.open {
        transform: translateY(0%);
    }

    #navbar a.page-title {
        font-size: 2rem;
    }

    #navbar ul {
        flex-direction: column;
        gap: 4vh;
    }
}